@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #535c68;
}

.bmi-calculator {
  width: 800px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0.0.0.0.1);
  display: flex;
}

.box {
  width: 350px;
  background-image: url("assets/bmi.png");
  height: 400px;;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.data {
  flex:1;
  padding: 15px;
}

h1 {
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 20px;
  color:blueviolet;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-size: 0.75em;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 18px;
}

button {
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: purple;
}

.data button:nth-of-type(2)  {
  background-color: palevioletred;
  margin-left: 10px;
}

.data button:nth-of-type(2):hover  {
  background-color: plum;
}

.result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid blueviolet ;
  border-radius: 4px;
}

.result p {
  margin: 0px;
  padding: 5px;
  color: #555;
  font-size: 14px;
}

.result p:first-child{
  color: black;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
